<%= form_for(bill) do |f| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :date_of_issue %>
    <%= f.date_select :date_of_issue %>
  </div>

  <div class="field">
    <%= f.label :details  %>
    <%= f.fields_for :details do |detail| %>
    <%= render 'detail_fields', f: detail%>
    <% end %>
    <%= link_to_add_association 'agregar detalle', f, :details%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
