<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @bill.number %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @bill.date_of_issue %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bill.total %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
